html, body {
	height: 100%;
}

.container {
	height: 100%;
}

.row {
	height: 100%;
}

/* In a mobile first design, the two divs are stacked along a single column.
   This implementation is also maintained in portrait orientaion for all devices.
*/
.col-list-view {
	width: 100%;
	height: 35%;
}

.col-map-view {
	width: 100%;
	height: 65%;
}

/* For landscape orientation, regardless of the screen size, we want the list
   view to take only 25% of the available width.
   We also want the map view to take 75% of the available width.
   Add a min-device-width to prevent that the keyboard in small devices could
   change the divs position when showing up to let the user type into the input
   search field.
*/
@media screen and (min-device-width: 500px) and (orientation: landscape) {
	.col-list-view {
		float: left;
		width: 25%;
		height: 100%;
	}

	.col-map-view {
		float: right;
		width: 75%;
		height: 100%;
	}
}

/* Add Media queries to target different devices and add a scrollbar to the list
   whenever the result list is higher than the div that hosts it.
   This way even the hidden result locations can be chosen by the user.
   For every targeted device, a different height was considered depending on
   the device orientation.
   In landscape mode the list height is bigger because it can take up
   all the div height; in portrait orientation, instead, the list
   can only take up the space left by the input search bar and the map.
   Note that this devices list takes into account only some models and their
   official characteristics as of late 2016.
   It is possible to adapt them to a change in screen size in the future by
   modifying the height values or to target more devices by adding new media
   queries.
*/

/* Target an iPhone 5 screen */
@media screen and (min-device-height: 320px) and (orientation: landscape) {
	.listWrapper {
		height: 285px;
		overflow-y: scroll;
	}
}

/* Target an iPhone 5 screen */
@media screen and (min-device-height: 568px) and (orientation: portrait) {
	.listWrapper {
		height: 164px;
		overflow-y: scroll;
	}
}

/* Target a Galaxy S5 screen */
@media screen and (min-device-height: 360px) and (orientation: landscape) {
	.listWrapper {
		height: 326px;
		overflow-y: scroll;
	}
}

/* Target a Galaxy S5 screen */
@media screen and (min-device-height: 640px) and (orientation: portrait) {
	.listWrapper {
		height: 190px;
		overflow-y: scroll;
	}
}

/* Target a Nexus 6P and an iPhone 6 and iPhone 6 Plus screen */
@media screen and (min-device-height: 412px) and (orientation: landscape) {
	.listWrapper {
		height: 380px;
		overflow-y: scroll;
	}
}

/* Target a Nexus 6P and an iPhone 6 and iPhone 6 Plus screen */
@media screen and (min-device-height: 732px) and (orientation: portrait) {
	.listWrapper {
		height: 224px;
		overflow-y: scroll;
	}
}

/* Target an iPad screen */
@media screen and (min-device-height: 768px) and (orientation: landscape) {
	.listWrapper {
		height: 699.6px;
		overflow-y: scroll;
	}
}

/* Target an iPad screen */
@media screen and (min-device-height: 1024px) and (orientation: portrait) {
	.listWrapper {
		height: 324.4px;
		overflow-y: scroll;
	}
}

/* Target an iPad Pro screen */
@media screen and (min-device-height: 1024px) and (orientation: landscape) {
	.listWrapper {
		height: 990px;
		overflow-y: scroll;
	}
}

/* Target an iPad screen */
@media screen and (min-device-height: 1366px) and (orientation: portrait) {
	.listWrapper {
		height: 444px;
		overflow-y: scroll;
	}
}

